In [240]:
import pandas as pd
import os
import numpy as np

In [241]:
df = pd.read_csv("../../data/tested.csv")
df_anal = df[["outcomes_game_x", "outcomes_game_x_preds"]]
df_anal["pred_outcome"] = df["outcomes_game_x_preds"].round(0)

C:\Users\msuch\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [242]:
df_anal["pred_absolute"] = df_anal["outcomes_game_x_preds"]-0.5
df_anal["pred_absolute"] = df_anal["pred_absolute"].abs()
df_anal

C:\Users\msuch\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\Users\msuch\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

      outcomes_game_x  outcomes_game_x_preds  pred_outcome  pred_absolute
0                 0.0               0.233720           0.0       0.266280
1                 0.0               0.172049           0.0       0.327951
2                 0.0               0.027765           0.0       0.472235
3                 0.0               0.327544           0.0       0.172456
4                 0.0               0.348601           0.0       0.151399
...               ...                    ...           ...            ...
1631              0.0               0.377324           0.0       0.122676
1632              0.0               0.396574           0.0       0.103426
1633              1.0               0.724991           1.0       0.224991
1634              0.0               0.409134           0.0       0.090866
1635              1.0               0.686097           1.0       0.186097

[1636 rows x 4 columns]

In [243]:

outcome_list = df_anal["outcomes_game_x"].to_list()
pred_list = df_anal["pred_outcome"].to_list()

corrects = []
counter = 0
for outcome in outcome_list:
    pred = pred_list[counter]
    
    if outcome == pred:
        correct = 1
    else:
        correct = 0
    
    corrects.append(correct)
    counter = counter+1

df_anal["correct"] = corrects

C:\Users\msuch\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [244]:
bins = [0, 0.19999, .299999, 0.39999, 0.49999, 1]

# Create the names for the four bins
group_names = ["D", "C", "B", "A", "S"]

In [245]:
df_anal["pred_val_summary"] = pd.cut(df_anal["pred_absolute"], bins, labels=group_names, include_lowest=True)
df_anal

C:\Users\msuch\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,outcomes_game_x,outcomes_game_x_preds,pred_outcome,pred_absolute,correct,pred_val_summary
0,0.0,0.233720,0.0,0.266280,1,C
1,0.0,0.172049,0.0,0.327951,1,B
2,0.0,0.027765,0.0,0.472235,1,A
3,0.0,0.327544,0.0,0.172456,1,D
4,0.0,0.348601,0.0,0.151399,1,D
...,...,...,...,...,...,...
1631,0.0,0.377324,0.0,0.122676,1,D
1632,0.0,0.396574,0.0,0.103426,1,D
1633,1.0,0.724991,1.0,0.224991,1,C
1634,0.0,0.409134,0.0,0.090866,1,D
1635,1.0,0.686097,1.0,0.186097,1,D

In [246]:
group_df = df_anal.groupby("pred_val_summary")
group_df["correct"].count()

pred_val_summary
D    1133
C     314
B     153
A      26
S      10
Name: correct, dtype: int64

In [247]:
group_df["correct"].mean()*100

pred_val_summary
D    58.958517
C    71.974522
B    84.313725
A    92.307692
S    80.000000
Name: correct, dtype: float64